h1 {
    text-align: center;
    font-size: 80px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: aliceblue;
    
}


.anchor {
    color: aliceblue;
 
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    



}

textarea {
    
}

.buttonclass {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    gap: 30px;
    
    
    

}


body {
    background-color: #111827;

  
}

